.profile__avatar {
  width: 100%;
  max-height: 120px;
  border-radius: 50%;
  transition: opacity 0.5s linear;
}

.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 700px) {
  .profile__avatar {
    margin-bottom: 14px;
  }
}